.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    label {
        margin-bottom: 5px;
        font-weight: 500;
    }

    .required {
        color: red;
    }

    .p-dropdown, .p-inputnumber {
        width: 100%;
    }
}